extends ./layout/basic_layout

block content_right
      div.post_section
        h2.post_section_title About Me: Ramon Liu

        div.post_content
            img(src="/upload/about-me.jpeg", style="width:530px")
            p I wanted to change the world when I was young, but as time left, I realize I cannot change anything.
            p One day, I became a software engineer and hoped to do something like Bill Gates, but the real world tell me: Bill Gates is Bill Gates, I am myself.
            p Fortunately, I like programming and full of passion. As an engineer, I just coding everyday with fun, but I don't have much time to think why I code.
            p I like every tech on software development, including J2EE, Javascript, Flex, Python, DotNet, C/C++, Excel VBA, MySql, SQLServer, mongodb, even assembly.
            p Mail to me: llmfei@gmail.com
            p Linkin me: http://www.linkedin.com/pub/lianmeng-liu/15/30a/924



