extends ./layout/basic_layout

block scripts
    script
        $(function(){
           $('#blogDelete').easyconfirm();
        });

block latest_news
    div.news_box
        h3
            a(href="http://nadiana.com/") Nadia Alramli's Blog
        Nadia lives in Dublin, Ireland and work as a Software Engineer at DemonWare, a subsidiary of Activision Blizzard, Inc. Focus Python&Js.

    div.news_box
        h3
            a(href="#") News2
        p Cras nisl eros, elementum eu, iaculis vitae, viverra ut, ligula. Pellentesque metus. Duis dolor.

block content_right
    // TODO
    // #templatemo_slider

    div.post-new
        if !readonly
            a(href="/blog/upsert")!= "+ New"

    - each article in articles
      div.post_section
        h2.post_section_title
            a(href="/blog/"+article._id.toHexString())!= article.title

        div.post_content
            div.post_content_header!= article.created_at
            div.post_content_body!= article.body
            div.post_content_footer
                a.first(href="/blog/"+article._id.toHexString()) Continue Reading...
                |
                a(href="/blog/"+article._id.toHexString()) Comments(#{article.comments.length})

                if !readonly
                    |
                    a#blogDelete(href="/blog/delete/"+article._id.toHexString())!= "Delete"
                    |
                    a(href="/blog/upsert/"+article._id.toHexString())!= "Edit"
