extends ./layout/basic_layout

block scripts
    script
        $(function(){
           $('#blogDelete').easyconfirm();
        });

block content_right
    // TODO
    // #templatemo_slider

    div.post-new
        if !readOnly
            a(href="/blog/upsert")!= "+ New"

    - each article in articles
      div.post_section
        h2.post_section_title
            a(href="/blog/"+article._id.toHexString())!= article.title

        div.post_content
            div.post_content_header!= article.created_at
            div.post_content_body!= article.body
            div.post_content_footer
                a.first(href="/blog/"+article._id.toHexString()) Continue Reading...
                |
                a(href="/blog/"+article._id.toHexString()) Comments(#{article.comments.length})

                if !readOnly
                    |
                    a#blogDelete(href="/blog/delete/"+article._id.toHexString())!= "Delete"
                    |
                    a(href="/blog/upsert/"+article._id.toHexString())!= "Edit"
