!!!
html
  head
    title Ramon Blog

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/south-street/jquery-ui.css", type="text/css")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/css/templatemo_style.css")
    script(src='/javascripts/jquery.easy-confirm-dialog.js')
  body!= body