/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000000;
	background: #f2e7ca url(images/templatemo_body.jpg) top center no-repeat;
}

/*h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }*/
		
a:link, a:visited { color: #5e7d05; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #CC6600; text-decoration: underline; }

/*p { margin: 0px; padding: 0px; }*/

img { margin: 0px; padding: 0px; border: 5px solid #FFFFFF; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_20 { margin-right: 20px; }
.margin_right_40 { margin-right: 40px; }

.fl {
	float: left;
}

.fr {
	float: right;
}

.content_wrapper {
    width: 1310px;  /*990 + 160 + 160*/
    margin: 0 auto;
}

#templatemo_wrapper {
	width: 990px; /*990 + 160 gooadv*/
	/*margin: 0 auto;*/
    float:left;
}

#templatemo_left_column {
	float: left;
	width: 260px;
}

#templatemo_left_column #site_title {
	width: 180px;
	height: 100px;
	padding-top: 60px;
	padding-left: 80px;
	background: url(images/templatmeo_site_title.jpg) no-repeat;
}

#templatemo_left_column #site_title h1 {
	margin: 0;
	padding: 0;
}

#templatemo_left_column #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #71960c;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_left_column #site_title h1 a span {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 2px;
}

#templatemo_menu {
	width: 220px;
	height: 220px;
	padding-left: 40px;
	margin: 0 auto;
	background: url(images/templatemo_menu.jpg) no-repeat ;
}

#templatemo_menu ul {
	margin: 0;
	padding: 20px 0 0 20px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
}

#templatemo_menu ul li a {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 25px;
	text-decoration: none;
	color: #7d6c3e;	
	font-weight: bold;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #39210f;	
	background: url(images/templatemo_menu_hover.png) center left no-repeat;
}

#templatemo_sidebar {
	min-height: 255px;
	padding: 0px 15px 0 43px;
	background: url(images/templatemo_sitebar.jpg) no-repeat top;
	
}

.sidebar_box {
	clear: both;
	margin-bottom: 30px;
}

.sidebar_box h2 {
	margin: 0px 0px 7px 0px;
    padding: 0px;
	font-size: 18px;
}

.news_box  {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #333;
}

.news_box p, .news_box h3 {
    margin: 0px;
    padding: 0px;
}

.news_box h3 a {
	font-size: 14px;
	text-decoration: underline;
}

#templatemo_content {
	float: left;
	width: 630px;
	padding: 100px 60px 0 40px;
	background: url(images/templatemo_content.jpg) top no-repeat;
}

#templatemo_slider {
	clear: both;
	width: 630px;
	height: 160px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border: 1px dashed #300;
}

.post_section {
	clear: both;
	padding-bottom: 10px;
	/*background: url(images/templatemo_divider.jpg) bottom repeat-x;	*/
	/*margin-bottom: 20px;*/
}

.post_section .post_content {
	padding: 10px 0 0 0;
}

.post_section .post_section_title {
    margin: 0px 0px 0px -45px;
	font-size: 28px;
	color: #749d07;
	padding: 10px 0 10px 45px;
	background: url(images/templatemo_header.png) no-repeat bottom left;
}

.post_section h3 {
    border-left: 5px gray solid;
    padding-left: 5px;
}

.post_content_body {
	margin-bottom: 20px;
}

.post_content_body pre{
    border: 1px dashed black;
    background-color:#EEE;
    padding: 0px 5px;
    overflow: scroll;
}

.post_content_header {
    margin-bottom: 20px;
}

.post_content_footer a {
    padding: 0px 5px;
}

.post_content_footer a:first-child {
    padding-left: 0px;
}

.post_content_footer a + a {
    border-left: 1px solid black;
}

.post_section img {
	margin: 20px 0;
}

.comment {
    border-top: 1px dashed #000000;
    margin: 10px 0px 0px 0px;
}

.comment .author {
    color: #5E7D05;
    font-size: 20px;
    font-weight: bold;
}

.comment .comment-content {
    margin: 0px;
    padding: 0px 2em;
}

.comment-form {
    margin: 20px 0px 0px 0px;
}

.comment-field {
    width: 98%;
}

#templatemo_footer_wrapper {
	clear: both;
	width: 100%;
	background: #92bf19 url(images/templatemo_footer.jpg) top center no-repeat;
}

#templatemo_footer {
	clear: both;
	width: 970px;
	padding: 180px 0 10px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}

#templatemo_footer a {
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
}

#templatemo_footer a:hover {
	text-decoration: none;
}

#templatemo_footer .footer_menu {
	margin: 0 0 5px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
}

.footer_menu li + li {
    border-left: 1px solid #fff;
}

.footer_menu .last_menu {
	border: none;
}

.login-form {
    margin: 0px auto;
    width: 400px;
}

.errorMsg {
    color: red;
    text-align: center;
}

.label, .text {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.login .text {
    height: 15px;
    border: 1px solid #749D07;
}

.post_form {
    margin: 10px 218px;
}

.post-new {
    float: right;
    font-size: 20px;
}

/* Pagination */
.item-pagination { padding:0 0 15px; height:25px; }
.item-pagination ul { list-style:none; margin:0; padding:0; }
.item-pagination li { float:left; display:block; }
.item-pagination li span,.item-pagination li a { width:15px; text-align:center; display:block; font-size:12px; margin:0 5px 0 0; padding:5px 10px; }
.item-pagination li span { background:#D4DEBB; color:#738F32; }
.item-pagination li a { background:#738F32; text-shadow:1px 1px 0 #3c4f0f; color:#fff; font-weight:bold; }
.item-pagination li a:hover { background:#576F1B; }


#loading {
    width: 102px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 0px;
    right: 50px;
    background-color: red;
    margin: 0.2em 0.4em 0 0;
    height: 20px;
}

div.datetime {
    float:left;
    display: block;
    padding:0;
    margin: 0 10px 0 2px;
    width:3.1em;
    min-width: 48px;
    color: #365174;
    background:#FEFEFE url(images/corner.png) no-repeat right bottom;
    text-align: center;
    font-size: x-small;
    border-left:2px solid #5a8465;
}

div.datetime .top {
    color:#fefefe;
    background-color:#5a8465;
    margin: 0 2px 0 0;
    padding: 6px 0 1px 0;
    line-height: 100%;
}

div.datetime .btm {
    background:transparent;
    margin:2px auto;
    padding:0 0 1px 0;
}

div.datetime .top p {
    background:url(images/caltop1b.gif) no-repeat 50% 0;
    margin:-9px auto 0 auto; /* negative top margin, auto for centering */
    padding:11px 1px 0 0;
    font:bold x-small/100% Georgia, "New Century Schoolbook", "Book Antiqua", "Times New Roman", serif;
    letter-spacing:0.12em;
    text-transform:uppercase;
}

/* day of the month (NUMBER) */
div.datetime p.day {
    font:bold 1.3em/98% Georgia, "New Century Schoolbook", "Book Antiqua", "Times New Roman", serif;
    letter-spacing:0.13em;
    padding: 0 0 1px 0;
}

/* month */
div.datetime p.mon {
    font:x-small/135% Verdana,Geneva,Arial,Helvetica,sans-serif;
    letter-spacing:normal;
    text-transform:uppercase;
    padding: 0px;
}

/* year */
div.datetime p.yr {
    font:x-small/110% Verdana,Geneva,Arial,Helvetica,sans-serif;
    letter-spacing:0.05em;
    margin: 0 auto;
    padding: 0 4px 0 0;
}

div.datetime p {
    margin:0 auto;
    padding:0;
    text-align:center;
    font-size:x-small;
}

/** Google Adsense **/

.left-adv{
    float: left;
    width: 160px;
    margin-top: 410px;
}

.right-adv {
    float: right;
    width: 160px;
    margin-top: 410px;
}

#top-adv {
    text-align: center;
    margin-top: -35px;
}

#templatemo_search {
    margin-bottom: 10px;
}

#templatemo_search img {
    border: none;
    margin-top: 3px;
}

#post-content-footer-adv {
    margin-top: 10px;
}

