body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
.blogDeleteUpdate {
  float: right;
  font-size: 20px;
  margin-top: -30px;
}
.blogDeleteUpdate a {
  margin-right: 5px;
}
