html
  head
    title Ramon Blog
    block scripts
  body
    block content
      #templatemo_wrapper
          block content_left
              #templatemo_left_column
                #site_title
                    h1
                        a(href="/login") Ramon Blog
                            span Tech for Better Life

                #templatemo_menu
                    ul
                        li
                            a(href="/", class="current") Home
                        li
                            a(href="/about") About Me
                        li
                            a(href="/") Blog

                #templatemo_sidebar
                    div.sidebar_box
                        h2 Favorite Links
                        block latest_news
                            - each favLink in favLinks
                                .news_box
                                    h3
                                        a(href=favLink.url)=favLink.title
                                    p=favLink.description

          #templatemo_content
              #top-adv
                  block top_adv_scripts
                    script(type="text/javascript")
                            google_ad_client = "ca-pub-1992382271196226";
                            /* 728x15, 创建于 08-9-3 */
                            google_ad_slot = "7224060249";
                            google_ad_width = 468;
                            google_ad_height = 60;

                    script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")

              block content_right

          .right-adv
              script(type="text/javascript")
                  google_ad_client = "ca-pub-1992382271196226";
                  /* 160x600 */
                  google_ad_slot = "0586702988";
                  google_ad_width = 160;
                  google_ad_height = 600;

              script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")

    block foot
      #templatemo_footer_wrapper
        #templatemo_footer
            ul.footer_menu
                li
                    a(href="#") Home
                li
                    a(href="#") About Me
                li
                    a(href="#") Blog

            @copyright-2012