html
  head
    title Ramon Blog

    //google analytics
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32555592-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    block scripts

  body
    block content
    .content_wrapper
      .left-adv

        .left-adv2
            script(type="text/javascript")
                google_ad_client = "ca-pub-1992382271196226";
                /* 160x600 */
                google_ad_slot = "0586702988";
                google_ad_width = 160;
                google_ad_height = 600;

            script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")

      #templatemo_wrapper
          block content_left
              #templatemo_left_column
                #site_title
                    h1
                        a(href="/login") Ramon Blog
                            span Tech for Better Life

                #templatemo_menu
                    ul
                        each category in categories
                            li
                                a(href="/?cid=" + category.cid, class=(cid == category.cid ? "current" : null))=category.title

                        li
                            a(href="/about", class="" + (cid == -1 ? "current" : "")) About Me

                #templatemo_sidebar
                    div.sidebar_box
                        #templatemo_search
                            div
                                style(type="text/css")
                                    @import url(http://www.google.com/cse/api/branding.css);

                                div.cse-branding-right(style="background-color:#FFFFFF;color:#000000)
                                  div.cse-branding-form
                                    form(action="http://www.google.com.hk", id="cse-search-box", target="_blank")
                                      div
                                        input( type="hidden", name="cx", value="partner-pub-1992382271196226:5380201844")
                                        input( type="hidden", name="ie", value="UTF-8")
                                        input( type="text", name="q", size="22")
                                  div.cse-branding-logo
                                    img(src="http://www.google.com/images/poweredby_transparent/poweredby_FFFFFF.gif", alt="Google")

                        h2 Favorite Links
                        block latest_news
                            - each favLink in favLinks
                                .news_box
                                    h3
                                        a(href=favLink.url)=favLink.title
                                    p=favLink.description


          #templatemo_content
              #top-adv
                  block top_adv_scripts
                    script(type="text/javascript")
                            google_ad_client = "ca-pub-1992382271196226";
                            /* 728x15, 创建于 08-9-3 */
                            google_ad_slot = "7224060249";
                            google_ad_width = 468;
                            google_ad_height = 60;

                    script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")

              block content_right

      .right-adv
          script(type="text/javascript")
              google_ad_client = "ca-pub-1992382271196226";
              /* 160x600 */
              google_ad_slot = "0586702988";
              google_ad_width = 160;
              google_ad_height = 600;

          script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")

    block foot
      #templatemo_footer_wrapper
        #templatemo_footer
            ul.footer_menu
                each category in categories
                    li
                        a(href="/?cid=" + category.cid)=category.title
                li
                    a(href="/about") About Me

            @copyright-2012

    script(type="text/javascript")
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();